.bark
  .year
    .year
      .year
        .year
          .year
            .year
              .year
                .year
                  .year
                    .year
                      .year
                        .year
                          .year
                            .year
                              .year
                                .year
                                  .year
                                    .year
                                      .year
                                        .year
                                          .year
                                            .year
                                              .year
                                                .year
                                                  .year
                                                    .year
                                                      .year
                                                        .year
                                                          .year
                                                            .year
                                                              .year
                                                                .year
                                                                  .year
.center
  h1 Dendrochronology
  p The scientific method of dating tree rings to the exact year they were formed.
svg
  defs
    filter#squiggle
      feTurbulence(
        type="turbulence",
        stitchTiles="noStitch",
        baseFrequency="0.051",
        numOctaves="1",
        result="turbulence",
        seed="1"
      )
      feDisplacementMap(
        in2="turbulence",
        in="SourceGraphic",
        scale="1",
        xChannelSelector="R",
        yChannelSelector="G"
      )
    filter#squiggle2
      feTurbulence(
        type="turbulence",
        stitchTiles="noStitch",
        baseFrequency="0.0225",
        numOctaves="4",
        result="turbulence",
        seed="1"
      )
      feDisplacementMap(
        in2="turbulence",
        in="SourceGraphic",
        scale="13",
        xChannelSelector="R",
        yChannelSelector="G"
      )
